.deacon-about {
    min-height: 100vh;
    min-width: 100%;
    background-color: $stone;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__images {
        display: flex;
        margin: 40px 100px 60px 100px;

        &-left {
            margin-right: 40px;
        }
    }

    &__copy {
        width: 1239px;
        margin: 0 100px 40px 100px;
        display: flex;
        flex-direction: row;

        &-description {
            width: 60%;

            &-title {
                @include h2-heading;
            }

            &-body {
                @include body-large;

                padding-right: 30px;
                margin-bottom: 40px;
            }
        }

        &-details {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            border-left: 3px solid $goldenPear;

            &-container {
                margin-left: 20px;
                width: 40%;

                &-title {
                    @include h4-heading;

                    color: $goldenPear;
                }

                &-body {
                    @include body-small;
                }
            }
        }
    }

    &__button {
        @include primary-button($black, $white, transparent, $black)
    }
}
