.deacon__contact {
    padding: 0 40px;
    margin-top: 40px;
    height: 520px;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-header {
        @include h2-heading;

        width: 70%;
        margin-bottom: 20px;
        text-align: center;
    }

    &-info {
        &-container {
            display: flex;
            width: 90%;
            justify-content: center;
        }

        &-location {
            padding: 20px;
            width: 30%;
            margin-right: 10px;

            &-title {
                @include contact-title($blueDark);
            }

            &-street,
            &-locale {
                @include body-small;
                text-align: center;
            }
        }


        &-general {
            padding: 20px;
            width: 30%;
            margin-right: 10px;

            &-title {
                @include contact-title($goldenPear);
            }
        }

        &-press {
            padding: 20px;
            width: 30%;

            &-title {
                @include contact-title($lavenderDark);
            }
        }

        &-body {
            @include body-small;
            text-align: center;
        }
    }

    &-button {
        @include primary-button($black, $white, transparent, $black);
        width: 210px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-newsletter {
        &-container {
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 80px 0;
            background-color: $stone;
        }

        &-text {
            margin-left: 40px;

            &-title {
                @include h2-heading;
            }

            &-copy {
                @include body-small;
            }
        }

        &-form {
            margin-right: 40px;
            display: flex;

            &-input {
                @include body-small
                width: 350px;
                margin-right: 20px;
                background: none;
                border: none;
                border-bottom: 2px solid $black;

                &::placeholder {
                    color: $black;
                }
            }

            &-button {
                @include primary-button($black, $white, transparent, $terracottaDark)
            }
        }
    }
}
