.deacon__footer {
    margin-top: 60px;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 537px;
        background-color: $black;
    }

    &-logo {
        margin-top: 100px;
    }

    &-title {
        @include h3-heading;

        margin: 30px 0;
        color: $white;
    }

    &-image {
        width: 100%;
        height: 100%;

        &-container {
            display: flex;
            justify-content: center;
            margin-bottom: -60px;
            padding: 0 40px;
        }
    }

    &-info {
        &-container {
            display: flex;
            width: 85%;
            justify-content: center;
        }

        &-module {
            @include body-small;
            padding: 20px;
            width: 30%;
            margin-right: 10px;
            color: $white;
            text-align: center;

            &-title {
                @include h4-heading;
                margin-bottom: 10px;
            }

            &-links {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-link {
                @include h5-heading;

                text-decoration: none;
                border-bottom: 1px solid $white;
                color: $white;
                transition: all .3s ease-in-out;

                &:hover {
                    color: $goldenPear;
                }
            }

            &-bullet {
                display: inline-block;
                margin: 0 20px;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background-color: $goldenPear;
            }

            & a {
                color: $white;
            }

            &-social-icon {
                font-size: 23px;
                margin: 0 15px;
                cursor: pointer;
                transition: all .3s ease-in-out;

                &:hover {
                    color: $goldenPear;
                }
            }
        }
    }

    &-copyright {
        @include body-small;

        margin-top: 60px;
        font-size: 12px;
        color: $white;
    }
}
