@import '/variables.scss';
@import 'topnav.scss';
@import '/splash.scss';
@import '/contentmodule.scss';
@import '/about.scss';

body {
      margin: 0;
      padding: 0;
      width: 100vw;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
            sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.deacon {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__nav-container {
        background-color: $terracottaDark;
        width: 100%;
        padding-top: 40px;
        display: flex;
        justify-content: space-between;

        &-logo {
            padding-left: 40px;
        }
    }
}
