@font-face {
    font-family: 'value-serif-bold';
    src: url('../assets/fonts/value-serif-bold.eot');
    src: url('../assets/fonts/value-serif-bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/value-serif-bold.woff') format('woff'),
         url('../assets/fonts/value-serif-bold.woff2') format('woff2'),
         url('../assets/fonts/value-serif-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Krana Fat A';
    src: url('../assets/fonts/Krana Fat A.eot'),
         url('../assets/fonts/Krana Fat A.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import '/variables.scss';
@import 'topnav.scss';
@import '/splash.scss';
@import '/contentmodule.scss';
@import '/about.scss';
@import '/history.scss';
@import '/contact.scss';

body {
      margin: 0;
      padding: 0;
      width: 100vw;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
            sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.deacon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
