.deacon__map {
    height: 120vh;
    width: 100%;
    display: flex;
    background-color: $stone;

    @include for-medium {
        display: none;
    }

    &-image {
        height: 100%;
    }

    &-copy {
        &-container {
            margin: 40px;
        }

        &-title {
            @include h2-heading;

            margin-bottom: 30px;
        }

        &-category {
            &-title {
                @include h4-heading;
                color: $goldenPear;
            }

            &-list {
                @include body-small;
                margin-bottom: 40px;

                &-option {
                    margin-bottom: 5px;
                }
            }
        }
    }

}
