.deacon-splash {
    min-height: 100vh;
    padding: 0 40px;
    background-color: $terracottaDark;

    &__container {
        padding-top: 220px;
        margin-left: 40px;
    }

    &__hero {
        @include primary-header;

        margin-bottom: 40px;

        &-animated {
            color: $white;
            border-bottom: 5px solid $black;
        }
    }

    &__intro {
        @include body-large;

        width: 50%;
        margin-bottom: 20px;
    }

    &__button {
        @include primary-button($stone, $black, transparent, $stone);
    }

    &__outro {
        margin: 40px 0 100px 0;
        width: 50%;
        text-align: center;

        &-opening {
            border-bottom: 5px solid $goldenPear;
        }
    }
}
