.deacon__top-nav {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;

    &-option {
        @include h5-heading;
        margin-right: 30px;
        border: none;
        background: none;
    }

    &-book-now {
        @include round-button($stone, $black, $black, $stone, 90px);
    }
}
