.deacon__top-nav {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;

    @include for-mobile {
        display: none;
    }

    &-option {
        @include h5-heading;
        position: relative;
        display: flex;
        align-items: center;
        padding: 15px;
        text-decoration: none;
        color: $black;

        &-link {
            &-container {
                display: flex;
                align-items: center;
            }
        }

        &:nth-child(5) {
            padding-right: 30px;
        }

        &:after {
            @include after-dot($stone);
            bottom: 15px;
        }

        &:hover {
            &:after {
                opacity: 1 !important;
                transform: translateY(-0.4rem);
            }
        }
    }

    &-book-now {
        @include round-button($stone, $black, $black, $stone);

        @include for-mobile {
            display: none;
        }
    }
}
